/* ================================
   PIE DE PÁGINA
================================ */

footer {
    background-color: rgb(36, 36, 36);
    color: white;
}

/* Contenedor principal del footer */
.todoDiv {
    display: flex;
    flex-wrap: wrap;
}

/* Columnas del footer */
.enlaces, .enlaces .redes{
    margin-left: 4%;
    flex: 1 1 200px;
}

/* Subrayado decorativo */
.general {
    border-bottom: 2px orange solid;
}

/* Iconos circulares centrados */
.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: rgb(75, 75, 75);
    border-radius: 50%;
}

/* Distribución horizontal de iconos */
.social-links {
    display: flex;
    gap: 15px;
}

/* Estilo general enlaces */
.icono, .enlace{
    color: white;
    text-decoration: none;
    display: block;
    margin: 15px 0;
}