/* ================================
   SECCIÓN CONTACTO
================================ */

.seccion_contacto {
    display: flex; /* Divide información y formulario */
    gap: 50px;
    margin-top: 40px;
}

/* Espaciado general */
p,h3 {
    margin-bottom: 15px;
}

.info_contacto {
    flex: 1;
}

.formulario_contacto {
    flex: 1;
}

/* Campos del formulario */
.formulario_contacto input,
.formulario_contacto select,
.formulario_contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    background-color: #efefef;
}

.formulario_contacto textarea {
    height: 100px;
    resize: none;
}

/* Bloque condiciones */
.condiciones {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    margin-bottom: 20px;
}

.condiciones input[type="checkbox"] {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.condiciones label {
    cursor: pointer;
}

.condiciones a {
    color: #1a4fb4;
    text-decoration: underline;
}

/* Botón enviar */
.boton_enviar {
    background-color: #2c2c2c;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    transition: background-color 0.3s ease;
}

.boton_enviar:hover {
    background-color: #f7941d;
}

.redes_contacto {
    position: relative;
    width: 260px;
    height: 260px;
    margin-top: 30px;
}

.flor_central {
    width: 140px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.icono_red {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
}

.icono_telegram {
    left: 0;
    bottom: 50px;
}

.icono_whatsapp {
    left: 45px;
    top: 120px;
}

.icono_twitter {
    left: 110px;
    top: 80px;
}

.icono_instagram {
    right: 45px;
    top: 120px;
}

.icono_facebook {
    right: 0;
    bottom: 50px;
}